* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body,
html,
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.section {
    width: 100%;
}

.section dl {
    width: 100%;
    border-bottom: 2px solid #ccc;
    display: flex;
    align-items: center;
}

.section dl dt {
    width: 35%;
    padding: 3% 2%;
}

.section dl dt img {
    width: 100%;
}

.section dl dd h3 {
    color: #666;
}

.section dl dd .price {
    display: flex;
    justify-content: space-around;
}

.section dl dd .price h4 {
    color: #E03749;
}

.section dl dd .price .pay {
    padding: 2px 4px;
    background-color: #FEEAEA;
    color: #E03749;
    font-size: 0.8rem;
}

.section dl dd p,
.section dl dd .kind span {
    color: #ccc;
}

.section dl dd .kind {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}

.section dl dd .kind a {
    padding: 2px;
    display: inline-block;
    background-color: #F0F5F9;
    color: skyblue;
}

.header {
    display: flex;
    height: 45px;
    background: #EB3B47;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    padding: 0 10px;
}

.h_left {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.h_left i {
    font-style: normal;
}

.shouye,
.down,
.zhong {
    font-size: 20px;
    font-weight: 600;
}

.input {
    width: 65%;
    height: 70%;
    border-radius: 5px;
    text-align: center;
    border: none;
}

.nav {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.nav div {
    flex: 1;
    text-align: center;
}

.xia {
    font-size: 12px;
    color: #ccc;
    box-sizing: border-box;
    padding-left: 5px;
}

.show {
    color: red;
}